/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.outer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cards {
  display: flex;
  flex-direction: row;
  /* background-color: lightblue; */
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: black;
  margin-top: 0.5em;
  padding: 0.2em;
}

.cards:hover * {
  background: gold;
}

.control-box {
  /* grid-area:main; */
  height: 100px;
  width: 800px;
  display: inline-block;
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-between;
}

.example_c {
  color: white;
  /* text-transform: uppercase; */
  text-decoration: none;
  padding: 10px;
  background: #556bce;
  /* color: white !important; */
  border: 2px solid #494949 !important;
  display: inline-block;
  /* flex-direction: row; */
  transition: all 0.4s ease 0s;
  margin-left:10px;
  margin-top:10px;
  border: grey solid 2px; 
  border-radius: 10px; 
  padding: 5px;
  z-index: 100;
  }

/* .example_c-hovered,
.example_c:hover {
  background: #556bce;
  color: white !important;
} */

.example_d {
  color: #494949 !important;
  /* text-transform: uppercase; */
  text-decoration: none;
  background: #ffffff;
  border: 2px solid #494949 !important;
  display: inline-block;
  /* flex-direction: row; */
  transition: all 0.4s ease 0s;
  margin-left:10px;
  margin-top:10px;
  border: grey solid 2px; 
  border-radius: 10px; 
  padding: 5px;
  z-index: 100;
  }

  .inner {
    display: inline-block;
    /* flex-direction: column; */
    text-decoration: none;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    padding: 10px;
    height: 100px;
    margin-left:10px;
    margin-top:10px;
    padding: 5px;
    z-index: 100;
  }

  .label {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left:5px;
    margin-top:5px;
    padding: 2px; */
    z-index: 100;
  }

  .no-label {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 40px; */
    /* z-index: 100; */
  }

  .outer {
    display: inline-block;
    /* flex-direction: column; */
    text-decoration: none;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    padding: 10px;
    height: 100px;
    margin-left:10px;
    margin-top:10px;
    padding: 5px;
    z-index: 100;
  }
  .annotation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left:10px;
    margin-top:10px;
    padding: 5px;
    z-index: 100;
  }

  .slider {
    height: 10px;
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    margin-top: 10px;
}

.slider .thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #007bff;
  cursor: grab;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.labeler {
  color: #494949 !important;
  /* text-transform: uppercase; */
  text-decoration: none;
  background: #ffffff;
  border: 2px solid #494949 !important;
  display: inline-block;
  /* flex-direction: row; */
  transition: all 0.4s ease 0s;
  margin-left:10px;
  margin-top:10px;
  border: grey solid 2px; 
  border-radius: 10px; 
  padding: 10px;
  z-index: 100;
}

.outerlabeler {
  color: #494949 !important;
  /* text-transform: uppercase; */
  text-decoration: none;
  background: #ffffff;
  border: 3px solid #494949 !important;
  display: inline-block;
  /* flex-direction: row; */
  transition: all 0.4s ease 0s;
  margin-left:10px;
  margin-top:10px;
  border: grey solid 2px; 
  /* border-radius: 10px;  */
  padding: 10px;
  z-index: 100;
}